<div class="loginbg" ng-style="{height: iframeHeight + 'px'}">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 col-xs-12">
				<div class="login">
					<div class="login-container">
						<h1 class="text-center">Change Password</h1><br>
					  <form id="forgotpassword_form" name="forgotpassword_form">
					  	<div class="form-group">
                            <div class="pull-left" ng-if="changepasswordSuccess==1">
                                <span class="label label-success" >Password Changed Successfully.</span>
                            </div>
							<input class="form-control newpassword" type="password" name="newpassword" id="newpassword" placeholder="New Password" ng-model="user.newpassword" required>
                            <div class="pull-right" ng-repeat="(field,value) in forgotpassword_form.newpassword.$error" ng-show="forgotpassword_form.newpassword.$touched">
                                <span class="label label-danger" ng-if="field=='required' && value">Please Enter New Password</span>
                            </div>
                            <input class="form-control newpassword2" type="password" name="newpassword2" id="newpassword2" placeholder="Confirm Password" ng-model="user.newpassword2" required valid-password-c="user.newpassword">
                            <div class="pull-right" ng-repeat="(field,value) in forgotpassword_form.newpassword2.$error" ng-show="forgotpassword_form.newpassword2.$touched">
                                <span class="label label-danger" ng-if="(field=='required' && value) ">Please Enter confirmation Password</span>
                            </div>
                            <div class="pull-right" ng-show="forgotpassword_form.newpassword2.$error.noMatch" >
                                <span class="label label-danger">New Password does not match with confirmation password</span>
                            </div>
                            <div class="pull-right" ng-show="expired" >
                                <span class="label label-danger">Change Password request expired.</span>
							</div>
							<div class="pull-right"  ng-if="loginerror==-1">
								<span class="label label-danger">No password reset request found</span>
							</div>
							<input class="form-control" id='forgotpwd' type="submit" name="forgotpwd" ng-disabled="forgotpassword_form.$invalid || expired==true"  class="btn btn-primary btn-lg btn-block" value="Change" ng-click="changepassword(user.newpassword);">
						</div>
					  </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>