<div id="chat_window_1" ng-controller="ChatCtrl" chatbotHeight >
        <div class="panel panel-primary " id="chat_panel" ng-init="chat_tab = 1" ng-style="{'height':panelheight+ 'px'}">
            <div class="panel-heading container-fluid" id="accordion">
                <!--<span class="glyphicon glyphicon-comment"></span> Chat-->
                <ul class="nav nav-tabs" id="chatTabs">
                    <li class="active" data-toggle="tab" ng-click="chat_tab=1"><a href="#chattab" class="">Chat</a></li>
                     <li ><a href="#crntab" data-toggle="tab" ng-click="chat_tab=2">CRN NO.</a></li>
                    <!-- <li ng-show="access_role == 2"><a href="#srtab" data-toggle="tab" ng-click="chat_tab=3">SR NO.</a></li>  -->
                </ul>
                <div class="btn-group pull-right">
                    <a type="button" class="btn btn-default btn-xs hidden" href="#">
                        <span id="minim_chat_window " class="glyphicon glyphicon-minus icon_minim"></span>
                    </a>
                    
                    <button type="button" class="btn btn-xs btn-primary newuser"  ng-click="newuser();"><span class="glyphicon glyphicon-user"></span> End Chat</button>
                    <button type="button" class="btn btn-xs btn-primary newchat" ng-if="agentconnected" ng-click="endConversation(1);"><span class="glyphicon glyphicon-comment"></span> New Chat</button>
                    <a type="button" class="btn btn-default btn-xs" ng-click="minimizeChatwindow();" href="#">
                        <span class="glyphicon glyphicon-minus icon_close" data-id="chat_window_1"></span>
                    </a>
                </div>
            </div>
            <div class="container-fluid chatbody">
                <div class="tab-content chattab-content">
                    
                    <div class="tab-pane active row" id="chattab" ng-if="chat_tab === 1">
                        <div class="panel-body" ng-style="{'height':chatpanelheight+ 'px'}"> 
                            <ul class="chat">
                                
                                
                                <li class="{{list.position}} lastchat clearfix" ng-repeat="list in chatlist track by $index"  ng-init="$rowIndex = $index">
                                    <span class="chat-img pull-{{list.position}}" ng-if="list.msg.type !== 'SYS_CONV_START' && list.msg.type !== 'SYS_CONV_END'">
                                        <img ng-src="img/{{list.position == 'left' && 'Tenali.png' || 'logo7.png'}}" alt="BOT" class="img-circle " />
                                    </span>
                                    <div class="start_conv" ng-if="list.msg.type=='SYS_CONV_START'">
                                        <span class="label label-success" >{{list.msg.Text}}</span>
                                    </div>
                                    <div class="end_conv" ng-if="list.msg.type == 'SYS_CONV_END'">
                                        <span class="label label-danger" >{{list.msg.Text}}</span>
                                    </div>
                                    
                                    
                                    <div ng-class="{'chat-body':list.position==='right' || ( list.msg.tiledlist[0].type !== 'Instruction' &&  list.msg.type != 'SYS_CALC' && list.msg.type !== 'SYS_CONV_START' && list.msg.type !== 'SYS_CONV_END')}">
                                        <div class="clearfix" ng-if="list.position==='right'">
                                            <p class="lastmsg" >
                                                <ng-bind-html ng-bind-html = "list.msg">
                                                    {{list.msg}}
                                                </ng-bind-html>
                                            </p>
                                        </div>
                                        <div class=" clearfix" ng-if="list.position==='left' && list.msg.tiledlist ">
                                            <div class="sysChatRes"  ng-repeat="chatRes in list.msg.tiledlist">
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='text'">
                                                    <p class="lastmsg" ng-bind-html = "to_trusted(chatRes.Text);">
                                                        
                                                        <!--
                                                        <small class="chatTime">
                                                            <span class="glyphicon glyphicon-time">
                                                            </span>
                                                            {{list.curTime | date: 'HH:mm:ss'}}
                                                        </small>-->
                                                    </p>
                                                </div>
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='rate card'">
                                                    <div  class="col-md-12">
                                                        <ng-bind-html >
                                                            <label for="col_val_[chatRes.col_name]">{{chatRes.col_name}} : </label>
                                                            <select ng-attr-id="{{'col_val_'+rate_count}}" ui-select2="{ allowClear: true}" ng-model="r[rate_count].ratecard_col_select" ng-options="coldata for coldata in chatRes.data_col" class="form-control r_c_col">
                                                                
                                                            </select>
                                                            <br>
                                                            <label for="lcol_val_[chatRes.row_name]">{{chatRes.row_name}} : </label>
                                                            <select ng-attr-id="{{'data_val_'+rate_count}}" ui-select2="{ allowClear: true}" ng-model="r[rate_count].ratecard_data_select" ng-options="rowdata for rowdata in chatRes.data_row" class="form-control r_c_row">
                                                                
                                                            </select>
                                                            <br>
                                                            <input class='rate_btn btn btn-default ' id='rate_btn' type='button' value='Submit' ng-click="ratecardSubmit(r[rate_count].ratecard_col_select,r[rate_count].ratecard_data_select,chatRes.response_type,chatRes.journey_name,$rowIndex);" />
                                                        </ng-bind-html>
                                                        
                                                        <!--
                                                        <small class="chatTime">
                                                            <span class="glyphicon glyphicon-time">
                                                            </span>
                                                            {{list.curTime | date: 'HH:mm:ss'}}
                                                        </small>-->
                                                    </div>
                                                    <div  class="container-fluid ">
                                                        <div class="col-md-12 ratecardcontinue ratecardcontinue{{$rowIndex}}">
                                                            <p class=" ratecardresult_{{$rowIndex}}">
                                                                <b>Result</b>: <span></span>
                                                            </p>
                                                            <div  class="col-md-12">
                                                                Do you want to continue ?
                                                                <button class="btn btn-primary btn-xs continue" ng-if="chatRes.stage_details" ng-click="rate_to_dt(chatRes.stage_details);">Yes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    
                                                </div>
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='product listing'">
                                                    <div class='carousel slide' id='myCarousel{{$rowIndex}}'>
                                                        <div class='carousel-inner'>
                                                            <div class='item carousel_item2' ng-class="{active:!$index}" ng-repeat="imagelist in chatRes.product_list track by $index">
                                                                <div >
                                                                    <div class="col-xs-12" >
                                                                        <div class="text-box" ng-if="imagelist.Brand_Name!=''">
                                                                            <div class="imgtitle2">
                                                                                <b><span>
                                                                                    <ng-bind-html  ng-bind-html="imagelist.Brand_Name">
                                                                                        {{imagelist.Brand_Name}}
                                                                                    </ng-bind-html>
                                                                                </span></b>
                                                                            </div>
                                                                        </div> 
                                                                        <div class="img-box2">
                                                                            <a ng-href="http://exponentiadata.co.in/kotakdm/uploads/productlisting/{{imagelist.image_name}}"  data-fancybox="imggroup" rel="gallary" fancybox  data-caption="{{imagelist.details}}"  >
                                                                                <img ng-src="http://exponentiadata.co.in/kotakdm/uploads/productlisting/{{imagelist.image_name}}" class="img-full">
                                                                            </a>
                                                                        </div>
                                                                        
                                                                        <!-- <div class="" >
                                                                            <div class="knowmore">
                                                                                <a ng-href="http://exponentiadata.co.in/huldm/uploadexcel/uploads/100/productlisting/{{chatRes.product_list[$index].image_name}}"  data-fancybox="linkgroup" rel="gallary" fancybox data-caption="{{chatRes.product_list[$index].details}}" >
                                                                                    Know More
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class=""  ng-if="chatRes.product_list[$index].URL!='' && chatRes.product_list[$index].URL">
                                                                            <div class="viewadvertisement">
                                                                                <a href="{{chatRes.product_list[$index].URL}}" target="_blank" >
                                                                                    View Advertisement
                                                                                </a>
                                                                            </div>
                                                                        </div> -->
                                                                            
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class='left carousel-control' href='#myCarousel{{$rowIndex}}' data-slide='prev'><i class='glyphicon glyphicon-chevron-left'></i></a>
                                                        <a class='right carousel-control' href='#myCarousel{{$rowIndex}}' data-slide='next'><i class='glyphicon glyphicon-chevron-right'></i></a>
                                                    </div>
                                                </div> 
                                                <!-- animated fadeIn -->
                                                <div class="chatType  boxme" ng-if="list.msg.tiledlist[0].type==='DTHyperlink'">
                                                    
                                                    <ng-bind-html ng-if="chatRes.Text != '' && chatRes.Text" ng-bind-html="chatRes.Text|newlines">
                                                        <p class="lastmsg" >
                                                            {{chatRes.Text}}     
                                                        </p>
                                                    </ng-bind-html>
                                                    <!-- <p class="lastmsg redtext" ng-repeat="scrpttext in chatRes.Script">
                                                        <ng-bind-html ng-bind-html="scrpttext|newlines">
                                                            {{scrpttext}}
                                                        </ng-bind-html>
                                                    </p>
                                                    <p class="lastmsg" ng-repeat="processtext in chatRes.Process">
                                                        <ng-bind-html ng-bind-html="processtext|newlines">
                                                            {{processtext}}
                                                        </ng-bind-html>
                                                    </p> -->
                                                    
                                                    <!-- <div class="dthyperlink lastmsg" ng-repeat="dthlink in chatRes.DTHyperlink" data-id="{{dthlink}}" data-url-id="innerLink" data-line="{{chatRes.line_no[$index]}}" data-col="{{chatRes.col_no[$index]}}" ng-click="getDthlinkRes(chatRes.col_no[$index],chatRes.line_no[$index],dthlink);">
                                                        {{dthlink}}
                                                    </div> -->
                                                    <div class="container-fluid" ng-repeat="dthlink in chatRes.DT" ng-init="$dthindex = $index">
                                                        <div class="col-md-11 dthyperlink lastmsg changedthbg stage{{chatRes.bgstage}}"  data-id="{{dthlink}}" data-url-id="innerLink" data-stage="{{chatRes.Stage}}" data-bgstage="{{chatRes.bgstage}}" ng-if="chatRes.DT.length > 0 " data-index="{{$index}}"  ng-click="getDthlinkRes(chatRes.Stage,dthlink,chatRes);" >
                                                            <span class="lefticon glyphicon glyphicon-chevron-left" style="display:none;"></span>
                                                            {{dthlink}}
                                                        </div>
                                                        <!-- <button type="button" class="btn btn-primary" ng-if="(chatRes.System[$dthindex] !== '' && chatRes.System[$dthindex])"  popover-placement="top" uib-popover="{{chatRes.System[$dthindex]}}" popover-title="{{dthlink}}" popover-class="dthpopover">
                                                                <span class="glyphicon glyphicon-info-sign"></span>
                                                            </button> -->
                                                        <!-- <div class="col-md-1 popoverinfo">
                                                            
                                                            <span ng-if="(chatRes.System[$dthindex] !== '' && chatRes.System[$dthindex])"  popover-placement="left" uib-popover="{{chatRes.System[$dthindex]}}" popover-title="{{dthlink}}" popover-class="dthpopover" class="glyphicon glyphicon-info-sign"></span>
                                                                
                                                        </div> -->
                                                    </div>
                                                    <div ng-if="list.msg.tiledlist[0].images.length > 0">
                                                        <div class='carousel slide' id='myCarousel2'>
                                                            <div class='carousel-inner'>
                                                                <div class='item carousel_item' ng-class="{active:!$index}" ng-repeat="imglist in chatRes.images track by $index" ng-if="$index % 3 == 0">
                                                                    <div class="col-xs-4" >
                                                                        <div class="img-box">
                                                                            <a ng-href="http://104.46.103.162:8097/{{chatRes.images[$index]}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                                <img ng-src="http://104.46.103.162:8097/{{chatRes.images[$index]}}" class="img-full">
																				
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4" ng-if="chatRes.images[$index+1] != null">
                                                                        <div class="img-box">
                                                                            <a ng-href="http://104.46.103.162:8097/{{chatRes.images[$index+1]}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                                <img ng-src="http://104.46.103.162:8097/{{chatRes.images[$index+1]}}" class="img-full">
																				
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4" ng-if="chatRes.images[$index+2] != null">
                                                                        <div class="img-box">
                                                                            <a ng-href="http://104.46.103.162:8097/{{chatRes.images[$index+2]}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                                <img ng-src="http://104.46.103.162:8097/{{chatRes.images[$index+2]}}" class="img-full">
																				
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a class='left carousel-control' href='#myCarousel2' data-slide='prev'><i class='glyphicon glyphicon-chevron-left'></i></a>
                                                            <a class='right carousel-control' href='#myCarousel2' data-slide='next'><i class='glyphicon glyphicon-chevron-right'></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='Instruction'">
                                                    <!-- <ui-carousel slides="chatRes.imagelist" slides-to-show="3" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="2000" dots="true">
                                                        <carousel-item>
                                                            <h3>{{ item + 1 }}</h3>
                                                        </carousel-item>
                                                    </ui-carousel> -->
                                                                                                      
                                                    <div class='carousel slide' id='myCarousel'>
                                                        <div class='carousel-inner'>
                                                            <div class='item carousel_item' ng-class="{active:!$index}" ng-repeat="imglist in chatRes.imagelist track by $index" ng-if="$index % 3 == 0">
                                                                <div class="col-xs-4" >
                                                                    <div class="img-box">
                                                                        <a ng-href="{{chatRes.imagelist[$index].Image}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                            <img ng-src="{{chatRes.imagelist[$index].Image}}" class="img-full">
                                                                        </a>
                                                                    </div>
                                                                    <div class="text-box" ng-if="chatRes.imagelist[$index].Text!='Text'">
                                                                        <span>
                                                                            <ng-bind-html  ng-bind-html="chatRes.imagelist[$index].Text|newlines">
                                                                                {{chatRes.imagelist[$index].Text}}
                                                                            </ng-bind-html>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4" ng-if="chatRes.imagelist[$index+1] != null">
                                                                    <div class="img-box">
                                                                        <a ng-href="{{chatRes.imagelist[$index+1].Image}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                            <img ng-src="{{chatRes.imagelist[$index+1].Image}}" class="img-full">
                                                                        </a>
                                                                    </div>
                                                                    <div class="text-box" ng-if="chatRes.imagelist[$index+1].Text!='Text'">
                                                                        <span>
                                                                            <ng-bind-html  ng-bind-html="chatRes.imagelist[$index+1].Text|newlines">
                                                                                {{chatRes.imagelist[$index+1].Text}}
                                                                            </ng-bind-html>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4" ng-if="chatRes.imagelist[$index+1] != null">
                                                                    <div class="img-box">
                                                                        <a ng-href="{{chatRes.imagelist[$index+2].Image}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                            <img ng-src="{{chatRes.imagelist[$index+2].Image}}" class="img-full">
                                                                        </a>
                                                                    </div>
                                                                    <div class="text-box" ng-if="chatRes.imagelist[$index+2].Text!='Text'">
                                                                        <span>
                                                                            <ng-bind-html  ng-bind-html="chatRes.imagelist[$index+2].Text|newlines">
                                                                                {{chatRes.imagelist[$index+2].Text}}
                                                                            </ng-bind-html>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class='left carousel-control' href='#myCarousel' data-slide='prev'><i class='glyphicon glyphicon-chevron-left'></i></a>
                                                        <a class='right carousel-control' href='#myCarousel' data-slide='next'><i class='glyphicon glyphicon-chevron-right'></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" clearfix" ng-if="(list.position==='left' &&  (list.msg.type==='SYS_INACTIVE' || list.msg.type==='SYS_FIRST' || list.msg.type === 'SYS_EMPTY_RES' || list.msg.type === 'SYS_AUTO'))">
                                            <p class="lastmsg" >
                                                <!-- <ng-bind-html ng-bind-html = "list.msg.Text">
                                                    {{list.msg.Text}}
                                                </ng-bind-html> -->
                                                <p class="lastmsg" ng-bind-html = "to_trusted(list.msg.Text);">

                                                </p>
                                            </p>
                                        </div>
                                        <div class="clearfix" ng-if="list.msg.type == 'kotak_search'">
                                            <div class='carousel slide' id='myCarousel{{$rowIndex}}'>
                                                <div class='carousel-inner'>
                                                    <div class='item carousel_item2' ng-class="{active:!$index}" ng-repeat="imagelist in list.msg.data.cards track by $index">
                                                        <div >
                                                            <div class="col-xs-12" >
                                                                <div class="text-box" ng-if="imagelist.title!=''">
                                                                    <div class="imgtitle2">
                                                                        <b><span>
                                                                            <ng-bind-html  ng-bind-html="imagelist.title">
                                                                                {{imagelist.title}}
                                                                            </ng-bind-html>
                                                                        </span></b>
                                                                    </div>
                                                                </div> 
                                                                <div class="img-box2">
                                                                    <a ng-href="https://www.kotak.com{{imagelist.image}}"  data-fancybox="imggroup" rel="gallary" fancybox  data-caption="{{imagelist.description}}"  >
                                                                        <img ng-src="https://www.kotak.com{{imagelist.image}}" class="img-full">
                                                                    </a>
                                                                </div>
                                                                
                                                                 <div class="" >
                                                                    <div class="knowmore">
                                                                        <a ng-href="https://www.kotak.com{{imagelist.pagePath}}" target="_blank">
                                                                            Know More
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <!--<div class=""  ng-if="chatRes.product_list[$index].URL!='' && chatRes.product_list[$index].URL">
                                                                    <div class="viewadvertisement">
                                                                        <a href="{{chatRes.product_list[$index].URL}}" target="_blank" >
                                                                            View Advertisement
                                                                        </a>
                                                                    </div>
                                                                </div> -->
                                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class='left carousel-control' href='#myCarousel{{$rowIndex}}' data-slide='prev'><i class='glyphicon glyphicon-chevron-left'></i></a>
                                                <a class='right carousel-control' href='#myCarousel{{$rowIndex}}' data-slide='next'><i class='glyphicon glyphicon-chevron-right'></i></a>
                                            </div>
                                            <!-- <div class="searchcards" ng-repeat="carddata in list.msg.data.cards track by $index">
                                                <h4>
                                                    {{carddata.title}}
                                                </h4>
                                                <p class="lastmsg" ng-bind-html = "to_trusted(carddata.description);">
                                                    {{carddata.description}}
                                                    
                                                </p>
                                                <p>
                                                    <img ng-src="https://www.kotak.com{{carddata.image}}" class="img-responsive">
                                                </p>
                                                <a ng-href="https://www.kotak.com{{carddata.pagePath}}" target="_blank">
                                                    {{carddata.ctalabel}}
                                                </a>
                                            </div> -->
                                        </div>
                                        <div class=" clearfix" ng-if="(list.position==='left' &&  (list.msg.type==='SYS_CALC' ))">
                                            <div class="cals row" id="cal_select{{$index}}">
                                                <button class="btn btn-sm btn-primary" name="tdbtn" id="tdbtn{{$index}}" ng-click="showTdcalc();">RD Calculator</button>
                                                <button class="btn btn-sm btn-primary" name="rdbtn" id="rdbtn{{$index}}" ng-click="showRdcalc();">TD Calculator</button>
                                            </div>
                                            <div class="caldiv">
                                                <div class="row rdm tdcal" id="tdcal" ng-show="showTdcal" >
                                                    <div class="col-lg-12 col-md-12">
                                                        <form>
                                                            <div class="form-group col-md-12 col-xs-12">
                                                                <label for="mondep" class="control-label">Monthly Deposit (Installment)</label>
                                                                <br>
                                                                <input type="text" class="form-control" name="mondep" id="mondep" no-special-char ng-change="tdcalc(td[$index].mondep,td[$index].rate,td[$index].tenure,$index);" ng-model="td[$index].mondep">
                                                            </div>
                                                            <div class="form-group col-md-12 col-xs-12">
                                                                <label for="rate" class="control-label">Rate</label>
                                                                <br>
                                                                <input type="text" class="form-control" name="rate" readonly  id="rate" ng-model="td[$index].rate" ng-init="td[$index].rate='9.25'"  value="9.25" ng-change="tdcalc(td[$index].mondep,td[$index].rate,td[$index].tenure,$index);">
                                                            </div>
                                                            <div class="form-group col-md-12 col-xs-12">
                                                                <label for="ten" class="control-label">Tenure(months)</label>
                                                                <br>
                                                                <input type="text" class="form-control" name="ten" id="ten" ng-init="td[$index].tenure='12'" ng-change="tdcalc(td[$index].mondep,td[$index].rate,td[$index].tenure,$index);" value="12" ng-model="td[$index].tenure">
                                                            </div>
                                                            <div class="form-group col-md-12 col-xs-12">
                                                                <label for="ten" class="control-label">RD Maturity Value</label>
                                                                <br>
                                                                <input type="text" class="form-control rdm{{$index}}" name="rdm" id="rdm"  readonly="">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="row calci" id="rdcal" ng-show="showRdcal">
                                                    <div class="col-md-12">
                                                        <div class="panel calculator">
                                                            <div class="panel-heading">
                                                                <div class="row">
                                                                    <div class="col-xs-6">
                                                                        <a href="#" ng-class="{'active':showSTD}" id="simple" ng-click="showSTDcal();">Simple Term Deposit</a>
                                                                    </div>
                                                                    <div class="col-xs-6">
                                                                        <a href="#" ng-class="{'active':showCTD}" id="cumulative" ng-click="showCTDcal();">Cumulative Term Deposit</a>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <form class="form-horizontal" id="simple-form" ng-show="showSTD" >
                                                                            <div class="form-group">
                                                                                <label for="principal" class="col-sm-4 control-label">Principal Amount</label>
                                                                                <div class="col-sm-8">
                                                                                    <!-- "/^[0-9]+(\.[0-9]{1,2})?$/" -->
                                                                                    <input type="text" class="form-control" name="principal" id="principal" no-special-char ng-pattern="/^[0-9]*$/"  ng-model="std[$index].principal" ng-change="calcSTD(std[$index].principal,std[$index].rate,std[$index].tenure,$index);">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="rate2" class="col-sm-4 control-label">Rate</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control" name="rate2" value="9.25" id="rate2" no-special-char ng-init="std[$index].rate='9.25'" ng-model="std[$index].rate" ng-change="calcSTD(std[$index].principal,std[$index].rate,std[$index].tenure,$index);">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="tenure_days" class="col-sm-4 control-label">Tenure(Days)</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control" name="tenure_days" ng-pattern="/^[0-9]*$/" no-special-char id="tenure_days" ng-model="std[$index].tenure" ng-change="calcSTD(std[$index].principal,std[$index].rate,std[$index].tenure,$index);">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="tenure_yrs" class="col-sm-4 control-label">Tenure (In Years)</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control tenure_yrs{{$index}}" name="tenure_yrs"  id="tenure_yrs" readonly="" ng-model="std[$index].year">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="int_maturity" class="col-sm-4 control-label">Interest on Maturity</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control int_maturity{{$index}}" name="int_maturity" id="int_maturity" readonly="" ng-model="std[$index].maturity_int">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="val_maturity" class="col-sm-4 control-label">Maturity Value</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control val_maturity{{$index}}" name="val_maturity" id="val_maturity" readonly="" ng-model="std[$index].maturity_val">
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                        <form class="form-horizontal" id="cumu-form" ng-show="showCTD">
                                                                            <div class="form-group">
                                                                                <label for="cumu_principal" class="col-sm-4 control-label">Principal Amount</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control" name="cumu_principal" id="cumu_principal" ng-model="ctd[$index].principal" ng-change="calcCTD(ctd[$index].principal,ctd[$index].rate,ctd[$index].tenure,$index);">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="cumu_rate2" class="col-sm-4 control-label">Rate</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control" name="cumu_rate2" value="9.25" id="cumu_rate2" ng-init="ctd[$index].rate='9.25'" ng-model="ctd[$index].rate" ng-change="calcCTD(ctd[$index].principal,ctd[$index].rate,ctd[$index].tenure,$index);">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="cumu_tenure_days" class="col-sm-4 control-label">Tenure(Days)</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control" name="cumu_tenure_days" id="cumu_tenure_days" ng-model="ctd[$index].tenure" ng-change="calcCTD(ctd[$index].principal,ctd[$index].rate,ctd[$index].tenure,$index);">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="cumu_tenure_yrs" class="col-sm-4 control-label">Tenure (In Years)</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control cumu_tenure_yrs{{$index}}" name="cumu_tenure_yrs" id="cumu_tenure_yrs" readonly="" ng-model="ctd[$index].years">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="cumu_int_maturity" class="col-sm-4 control-label">Interest on Maturity</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control cumu_int_maturity{{$index}}" name="cumu_int_maturity" id="cumu_int_maturity" readonly="" ng-model="ctd[$index].int_maturity">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="cumu_val_maturity" class="col-sm-4 control-label">Maturity Value</label>
                                                                                <div class="col-sm-8">
                                                                                    <input type="text" class="form-control cumu_val_maturity{{$index}}" name="cumu_val_maturity" id="cumu_val_maturity" readonly="" ng-model="ctd[$index].maturity">
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="lastmsg" ng-if="list.msg.type !== 'SYS_CONV_END' && list.msg.type !== 'SYS_CONV_START'">
                                            <small class="chatTime">
                                                <span class="glyphicon glyphicon-time">
                                                </span>
                                                {{list.curTime | date: 'HH:mm:ss'}}
                                            </small>
                                        </p>
                                    </div>
                                </li>    
                            </ul>
                        </div>
                        <div class="panel-footer ">
                            <div class="form-group">
                                <span  class="thumbsIcon">
                                    <span class="chatbottomtext">Was this information useful ? 
                                        <span class="thumbsup glyphicon glyphicon-thumbs-up" ng-click="likeChatClick();"></span>&nbsp; 
                                        <span class="thumbsdown glyphicon glyphicon-thumbs-down" ng-click="dislikeChatClick();"></span>
                                    </span>
                                </span>
                            
                                <div class="loader_msg" ng-show="showMsgLoader">
                                    <div class="loading">Typing</div>
                                </div>
                                <div class="input-group chatinputgroup" ng-controller="SpeechRecognitionController as speech">
                                    <input type="text" class="form-control chatinput"  ng-change="getAutocomplete(chatText);" no-special-char ng-model="chatText" id="userMsg" placeholder="Type your message here..." autofocus  typeahead="list for list in autocompletelist" ng-keyup="onKeyUp($event)" x-webkit-speech autocomplete="off" />
                                    <!-- <div class="input-group-addon" ng-speech-recognition-start="" ng-speech-recognition-end="speech.displayTranscript()">
                                        <span class="speechtotext"  >
                                            <i class="fa fa-microphone fa-3"></i>
                                            
                                        </span>
                                    </div>
                                    <audio controls class="hidden ttsaudio" id="ttsaudio" src="">
                                        
                                    </audio> -->
                                </div>
                                <input type="hidden"  name="user_id" id="user_id"  value="{{sessionId}}" />
                                <div id="autocomplete_field"></div>
                                <div id="field_val"></div>
                                <div id="field_id"></div>
                            </div>
                            <a id="mybtn_trigger" class="hidden" ng-click="Speaktext();">Speakme</a>
                            <div id= "suggestionList">
                                <ul ng-if="autocompletelist.length > 0" class="{{autocompletelist.length}}  ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" id="ui-id-1">
                                    <div class="ui-menu-item-wrapper">
                                        <li class="ui-menu-item autolist" data-id="{{list.id}}" data-value="{{list.value}}" data-answers="{{list.answers}}"  ng-repeat="list in autocompletelist | filter:chatText  " ng-click="pushMsg(list.id,list.value,list.answers);"  ng-bind-html="list.value | highlight:chatText" >{{list.value}}</li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="crntab" ng-show="chat_tab === 2" >
                        <div class="form-inline input-group-sm">
                            <input type="text" class="form-control" placeholder="CRN no" ng-model="crnno" name="crn" required>
                            <button id="crnsr1" type="submit" class="btn btn-primary btn-sm" ng-click="crnSubmit(crnno);">Query</button>
                            <button id="" type="submit" class="btn btn-primary btn-sm">Tag with CRN</button>
                        </div>
                        <div class="crn">
                            <p id="crn_details"></p>
                        </div>
                    </div>
                    <div class="tab-pane" id="srtab" ng-show="chat_tab === 3" >
                        <div class="form-inline input-group-sm">
                            <input type="text" class="form-control" placeholder="SR no" name="sr" ng-model="srno">
                            <button id="crnsr" type="submit" class="btn btn-primary btn-sm" ng-click="srnSubmit(srno,crnno);">Query</button>
                            <button id="" type="submit" class="btn btn-primary btn-sm srbtn" >Create SR</button>
                        </div>
                        <div class="crn">
                            <p id="sr_details"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="testLoad"></div> -->
    <!-- <object type="text/html" data="http://cingulariti.com:8092/chat/#section2" style="width:700px; height:700px">
        <p>backup content</p>
    </object> -->