<div class="col-lg-9 dashboard expandable">
    <div class="row">
        <section class="panel">
            <div class="panel-body">
                <div class="col-lg-12">
                    <marquee direction="left" speed="normal" behavior="loop" BGCOLOR="Gold" class="news_text">Important Notice : Please update your personal details before 1st July 2017</marquee>
                <!--notification start-->
                    <div class="row">
                        <div class="alert alert-success  col-lg-6">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="icon-remove"></i>
                            </button>
                            <strong>
                                Hi <span ng-controller="LoginDetCtrl">{{fullname}} </span> 
                            </strong>
                            What can we explore today? Go to <a href="/home">Chat</a>
                        </div>
                    </div>
                    <!--state overview start-->
                    <div class="row state-overview">
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol terques">
                                    <i class="icon-comments"></i>
                                </div>
                                <div class="value">
                                    <h1>22</h1>
                                    <p>No. of interactions</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol red">
                                    <i class="icon-tags"></i>
                                </div>
                                <div class="value">
                                    <h1>4</h1>
                                    <p>No. of topics discussed</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol blue">
                                    <i class="icon-bar-chart"></i>
                                </div>
                                <div class="value">
                                    <h1>5</h1>
                                    <p>No. of Unread processes</p>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!--state overview end-->
                    <div class="row section_panel">
                        <div class="col-lg-4 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>Top 5 searches</h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>IFSC code for branch</td>
                                            </tr>
                                            <tr>
                                                <td>Location of Branch</td>
                                            </tr>
                                            <tr>
                                                <td>Change in contact details</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>Notification - have you read these?</h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>Process to follow in-case of bad weather</td>
                                            </tr>
                                            <tr>
                                                <td>Queries related to new Rs.200 notes</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>Updated processes</h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>Verifications</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section_panel">
                        <div class="col-lg-4">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3> Unread Processes </h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>Locker Operations</td>
                                            </tr>
                                            <tr>
                                                <td>Locker Surrender</td>
                                            </tr>
                                            <tr>
                                                <td>Account Opening</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>News today </h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td><a href="http://economictimes.indiatimes.com/news/economy/finance/lending-rate-cuts-key-to-economic-revival-bofaml/articleshow/60346351.cms" target="_blank">Lending rate cuts key to economic revival: BofAML</a></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>Updated unanswered questions </h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <b>Question:</b>
                                                    <span>
                                                         Staff at Kalyan branch is very rude. I want to make a complaint, how do I do it?  
                                                    </span>    
                                                    <br>
                                                    <b>Answer:</b>
                                                    <span>
                                                         We are sorry to hear that. Please mail us your complaint at the following email id (customer_complaints@kotak.com) with your contact details. We will connect with you within 24 hours.
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Question:</b>
                                                    <span>
                                                         Please help me with loans?
                                                    </span>   
                                                    <br>
                                                    <b>Answer:</b>
                                                    <span>
                                                         Please let us know whether you are looking for personal laon or a car loan. We will then assist you with details.
                                                    </span> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>