<div class="col-lg-9 dashboard dashboard2 expandable">
    <div class="col-md-12">
        <div class="page-header dashboardheader clearfix">
            <h3 class="heading pull-left"><i class=" icon-desktop"></i> Dashboard 
                <span class="sub-heading" ng-controller="LoginDetCtrl">Welcome back {{fullname}}</span>
            </h3>
            <!-- <div class="pull-right hidden-xs">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body reset padding left right">
                                <div class="col-sm-6 border right">
                                    <strong class="block"><i class="fa fa-globe"></i> Visits</strong>
                                    <small>Today</small>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="sparkline danger inner-lr"><canvas width="49" height="28" style="display: inline-block; width: 49px; height: 28px; vertical-align: top;"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="panel">
                            <div class="panel-body reset padding left right">
                                <div class="col-sm-6 border right">
                                    <strong class="block"><i class="fa fa-eye"></i> Views</strong>
                                    <small>Today</small>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="sparkline success inner-lr"><canvas width="49" height="28" style="display: inline-block; width: 49px; height: 28px; vertical-align: top;"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> -->
        </div>       
    </div>
    <div class="row">
        <section class="panel">
            <div class="panel-body">
                <div class="col-lg-12">
                    <marquee direction="left" speed="normal" behavior="loop"  class="news_text yellowbg">Important Notice : Please update your personal details before 1st July 2017</marquee>
                <!--notification start-->
                    <!-- <div class="row">
                        <div class="col-lg-6">
                            <div class="alert alert-success  ">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="icon-remove"></i>
                                </button>
                                <strong>
                                    Hi <span ng-controller="LoginDetCtrl">{{fullname}} </span> 
                                </strong>
                                What can we explore today? Go to <a href="/">Chat</a>
                            </div>
                        </div>
                    </div> -->
                    
                    <ul class="info-blocks">
                        <li class="bluebg">
                            <div class="top-info">
                                <a href="#">No. of interactions</a>
                                <small></small>
                            </div>
                            <a href="#"><i class="icon-comments"></i></a>
                            <span class="bottom-info redbg">22</span>
                        </li>
                        <li class="bluebg">
                            <div class="top-info">
                                <a href="#">No. of topics discussed</a>
                                <small></small>
                            </div>
                            <a href="#"><i class="icon-tags"></i></a>
                            <span class="bottom-info redbg">4</span>
                        </li>
                        <li class="bluebg">
                            <div class="top-info">
                                <a href="#">No. of notificaions</a>
                                <small></small>
                            </div>
                            <a href="#"><i class="icon-bar-chart"></i></a>
                            <span class="bottom-info redbg">5</span>
                        </li>
                        <!-- <li class="bg-info">
                            <div class="top-info">
                                <a href="#">My messages</a>
                                <small>messages history</small>
                            </div>
                            <a href="#"><i class="icon-bubbles3"></i></a>
                            <span class="bottom-info bg-primary">24 new messages</span>
                        </li>
                        <li class="bg-warning">
                            <div class="top-info">
                                <a href="#">Orders history</a>
                                <small>purchases statistics</small>
                            </div>
                            <a href="#"><i class="icon-cart2"></i></a>
                            <span class="bottom-info bg-primary">17 new orders</span>
                        </li>
                        <li class="bg-primary">
                            <div class="top-info">
                                <a href="#">Invoices stats</a>
                                <small>invoices archive</small>
                            </div>
                            <a href="#"><i class="icon-coin"></i></a>
                            <span class="bottom-info bg-danger">9 new invoices</span>
                        </li> -->
                    </ul>


                    <!--state overview start-->
                    <!-- <div class="row state-overview">
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol yellowbg">
                                    <i class="icon-comments"></i>
                                </div>
                                <div class="value">
                                    <h1>22</h1>
                                    <p>No. of interactions</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol olivebg">
                                    <i class="icon-tags"></i>
                                </div>
                                <div class="value">
                                    <h1>4</h1>
                                    <p>No. of topics discussed</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol tealbg">
                                    <i class="icon-bar-chart"></i>
                                </div>
                                <div class="value">
                                    <h1>5</h1>
                                    <p>No. of Unread processes</p>
                                </div>
                            </section>
                        </div>
                    </div> -->
                    <!--state overview end-->
                    <div class="row section_panel">
                        <!-- <uib-tabset active="active" class="col-md-6">
                            <uib-tab  >
                                <uib-tab-heading>
                                    <i class=" icon-search"></i> Top 5 searches
                                </uib-tab-heading>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>IFSC code for branch</td>
                                            </tr>
                                            <tr>
                                                <td>Location of Branch</td>
                                            </tr>
                                            <tr>
                                                <td>Change in contact details</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                            <uib-tab  >
                                <uib-tab-heading>
                                    <i class="icon-bell-alt"></i> Notification - have you read these?
                                </uib-tab-heading>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td><a href="#">Process to follow in-case of bad weather</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Queries related to new Rs.200 notes</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                            <uib-tab  >
                                <uib-tab-heading>
                                    <i class="icon-tasks"></i> Updated processes
                                </uib-tab-heading>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td><a href="#">Cheque Book Request</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Block Credit Card</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Verifications</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        <uib-tabset active="activeJustified" class="col-md-6">
                            <uib-tab  >
                                <uib-tab-heading>
                                    <i class="icon-inbox"></i> Unread Processes 
                                </uib-tab-heading>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td><a href="#">Cheque Book Request</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Block Credit Card</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Locker Operations</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Locker Surrender</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Account Opening</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                            <uib-tab  >
                                <uib-tab-heading>
                                    <i class="icon-bullhorn"></i> News today
                                </uib-tab-heading>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                               <td><a href="#">Investonomics</a></td>
                                           </tr>
                                            <tr>
                                                <td><a href="http://economictimes.indiatimes.com/news/economy/finance/lending-rate-cuts-key-to-economic-revival-bofaml/articleshow/60346351.cms" target="_blank">Lending rate cuts key to economic revival: BofAML</a></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                            <uib-tab  >
                                <uib-tab-heading>
                                    <i class="icon-book"></i> Updated unanswered questions 
                                </uib-tab-heading>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="faqques">
                                                        <p class="lastmsg" >
                                                            <a href="#" >
                                                                <span >Staff at Kalyan branch is very rude. I want to make a complaint, how do I do it?  </span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="faqans" style="display:none;">
                                                            <span >
                                                                We are sorry to hear that. Please mail us your complaint at the following email id (customer_complaints@kotak.com) with your contact details. We will connect with you within 24 hours.       
                                                            </span>
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="faqques">
                                                        <p class="lastmsg" >
                                                            <a href="#" >
                                                                <span >Please help me with loans?</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="faqans" style="display:none;">
                                                            <span >
                                                                Please let us know whether you are looking for personal loan or a car loan. We will then assist you with details.
                                                            </span>
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                        </uib-tabset> -->
                        <div class="col-lg-4 ">
                            <div class="">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3><i class=" icon-search"></i> Top 5 searches</h3>
                                        
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>IFSC code for branch</td>
                                            </tr>
                                            <tr>
                                                <td>Location of Branch</td>
                                            </tr>
                                            <tr>
                                                <td>Change in contact details</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3><i class="icon-bell-alt"></i> Notification - have you read these?</h3>
                                        
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td><a href="#">Process to follow in-case of bad weather</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Queries related to new Rs.200 notes</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3><i class="icon-book"></i> Unanswered query resolutions.</h3>
                                        
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="faqques">
                                                        <p class="lastmsg" >
                                                            <a href="#" >
                                                                <span >Staff at Kalyan branch is very rude. I want to make a complaint, how do I do it?  </span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="faqans" style="display:none;">
                                                            <span >
                                                                We are sorry to hear that. Please mail us your complaint at the following email id (customer_complaints@kotak.com) with your contact details. We will connect with you within 24 hours.       
                                                            </span>
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="faqques">
                                                        <p class="lastmsg" >
                                                            <a href="#" >
                                                                <span >Please help me with loans?</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="faqans" style="display:none;">
                                                            <span >
                                                                Please let us know whether you are looking for personal loan or a car loan. We will then assist you with details.
                                                            </span>
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="chatImage"   class="step1click">
    <a href="/"><img class="clickImage chatbotimg" id="clickImage" src="img/Tenali.png" ng-controller="ChatCtrl" id="stepclick1" ></a>
</div>