<div class="col-lg-9 dashboard">
    <div class="row">
        <section class="panel">
            <div class="panel-body">
                <div class="col-lg-12">
                    <marquee direction="left" speed="normal" behavior="loop" BGCOLOR="Gold">Important Notice : Please update your personal details before 1st July 2017</marquee>
                <!--notification start-->
                    <div class="row">
                        <div class="alert alert-success  col-lg-6">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="icon-remove"></i>
                            </button>
                            <strong>
                                Hi <span ng-controller="LoginDetCtrl">{{fullname}} </span> 
                            </strong>
                            What can we explore today? Go to <a href="/home">Chat</a>
                        </div>
                    </div>
                    <!--state overview start-->
                    <div class="row state-overview">
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol terques">
                                    <i class="icon-comments"></i>
                                </div>
                                <div class="value">
                                    <h1>22</h1>
                                    <p>No. of interactions</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol red">
                                    <i class="icon-tags"></i>
                                </div>
                                <div class="value">
                                    <h1>4</h1>
                                    <p>No. of topics discussed</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <section class="panel">
                                <div class="symbol blue">
                                    <i class="icon-bar-chart"></i>
                                </div>
                                <div class="value">
                                    <h1>5</h1>
                                    <p>No. of Unread processes</p>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!--state overview end-->
                    <div class="row section_panel">
                        <div class="col-lg-4 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>Top 5 searches</h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>Search1</td>
                                            </tr>
                                            <tr>
                                                <td>Search2</td>
                                            </tr>
                                            <tr>
                                                <td>Search3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>Notification - have you read these?</h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>Doc1</td>
                                            </tr>
                                            <tr>
                                                <td>Doc2</td>
                                            </tr>
                                            <tr>
                                                <td>Doc3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>Updated processes</h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>Cheque Book Request</td>
                                            </tr>
                                            <tr>
                                                <td>Block Credit Card</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section_panel">
                        <div class="col-lg-6">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3> Unread Processes </h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>Process 1</td>
                                            </tr>
                                            <tr>
                                                <td>Process 2</td>
                                            </tr>
                                            <tr>
                                                <td>Cheque Book Request</td>
                                            </tr>
                                            <tr>
                                                <td>Block Credit Card</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <div class="whitebg">
                                <div class="progress-panel col-md-12">
                                    <div class="task-progress">
                                        <h3>News today </h3>
                                        <!-- <p>Anjelina Joli</p> -->
                                    </div>
                                </div>
                                <div class="table_panel">
                                    <table class="table table-hover  personal-task">
                                        <tbody>
                                            <tr>
                                                <td>Investonomics</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>