<div class="col-lg-8 expandable2">
    <div class="content">
        
        <marquee direction="left" speed="normal" behavior="loop"  class="news_text yellowbg">Important Notice : Please update your personal details before 1st July 2017</marquee>
        <div class="" data-wow-iteration="2" data-wow-delay="0.2s">
            <div class="scriptData processviews" ng-if="tabvalue.elements[0] ==='Process'" ng-show="tabvalue.element_values[0].Script.length>0">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="true" is-disabled="false">
                        <uib-accordion-heading >
                            <div >
                                Script <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </div>
                        </uib-accordion-heading>
                        <p class="redtext" ng-repeat="scrpttext in tabvalue.element_values[0].Script">
                            <ng-bind-html ng-bind-html="scrpttext|newlines">
                                {{scrpttext}}
                            </ng-bind-html>
                        </p>
                    </div>
                </uib-accordion>
                

            </div>
            <uib-tabset active="active" id="tab_data" ng-show="tabvalue.elements.length>0" ng-style="{height: tabHeight + 'px'}">
                <uib-tab index="$index" ng-repeat="row in tabvalue.elements track by $index"  heading="{{row}}">
                    <div class ="tab-con"  ng-if="row ==='Process'">
                        <br>
                         <div class="" ng-repeat="processtext in tabvalue.element_values[$index].Process track by $index">
                            <!-- <p ng-if="!processtext.heading && !processtext.key">
                                <ng-bind-html ng-bind-html="processtext|newlines" ng-if="processtext.key !==''">
                                    {{processtext}}
                                </ng-bind-html>
                                <span ng-if="processtext.key !==''">
                                <span id = "tooltip12" class="glyphicon glyphicon-plus-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Steps[$index] !== '' && tabvalue.element_values[0].Steps[$index]" ng-show="!!tabvalue.element_values[0].Steps.length && tabvalue.element_values[0].Steps[$index]" uib-tooltip="{{tabvalue.element_values[0].Steps[$index]}}"></span>
                                <span id = "tooltip12" class="glyphicon glyphicon-info-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Tooltip[$index] !== '' && tabvalue.element_values[0].Tooltip[$index]" ng-show="!!tabvalue.element_values[0].Tooltip.length && tabvalue.element_values[0].Tooltip[$index]" uib-tooltip="{{tabvalue.element_values[0].Tooltip[$index]}}"></span>
                                <span id = "tooltip12" class="glyphicon glyphicon-blackboard" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].System[$index] !== '' && tabvalue.element_values[0].System[$index]" ng-show="!!tabvalue.element_values[0].System.length && tabvalue.element_values[0].System[$index]" uib-tooltip="{{tabvalue.element_values[0].System[$index]}}"></span>
                                <span id = "tooltip12" class="glyphicon glyphicon-copyright-mark" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Checks[$index] !== '' && tabvalue.element_values[0].Checks[$index]" ng-show="!!tabvalue.element_values[0].Checks.length && tabvalue.element_values[0].Checks[$index]" uib-tooltip="{{tabvalue.element_values[0].Checks[$index]}}"></span>
                                </span>
                            </p> -->
                            <p ng-if="processtext.key ==='' && processtext.value">
                                <ng-bind-html ng-bind-html="trustedHtml(processtext.value);" ng-if="processtext.key === ''">
                                    {{processtext.value}}
                                </ng-bind-html>
                                <span id = "tooltip12" class="glyphicon glyphicon-plus-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Steps[$index] !== '' && tabvalue.element_values[0].Steps[$index]" ng-show="!!tabvalue.element_values[0].Steps.length && tabvalue.element_values[0].Steps[$index]" uib-tooltip="{{tabvalue.element_values[0].Steps[$index]}}"></span>
                                <span id = "tooltip12" class="glyphicon glyphicon-info-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Tooltip[$index] !== '' && tabvalue.element_values[0].Tooltip[$index]" ng-show="!!tabvalue.element_values[0].Tooltip.length && tabvalue.element_values[0].Tooltip[$index]" uib-tooltip="{{tabvalue.element_values[0].Tooltip[$index]}}"></span>
                                <span id = "tooltip12" class="glyphicon glyphicon-blackboard" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].System[$index] !== '' && tabvalue.element_values[0].System[$index]" ng-show="!!tabvalue.element_values[0].System.length && tabvalue.element_values[0].System[$index]" uib-tooltip="{{tabvalue.element_values[0].System[$index]}}"></span>
                                <span id = "tooltip12" class="glyphicon glyphicon-copyright-mark" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Checks[$index] !== '' && tabvalue.element_values[0].Checks[$index]" ng-show="!!tabvalue.element_values[0].Checks.length && tabvalue.element_values[0].Checks[$index]" uib-tooltip="{{tabvalue.element_values[0].Checks[$index]}}"></span>
                            </p>
                            <p ng-if="!processtext.key && !processtext.value">
                                <ng-bind-html ng-bind-html="trustedHtml(processtext);" ng-if="processtext !== ''">
                                    {{processtext}}
                                </ng-bind-html>
                            </p>
                            <!-- <div ng-if="processtext.heading">
                                <br>
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group class="panel-default"   data-index="{{0}}"    is-open="status.open">
                                        <uib-accordion-heading >
                                            <div >
                                                {{processtext.heading}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="" >
                                            <p class="" >
                                                 <ng-bind-html ng-bind-html="trustedHtml(processtext.collapse);"> 
                                                    {{processtext.collapse}}
                                                 </ng-bind-html> 
                                                <span id = "tooltip12" class="glyphicon glyphicon-plus-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Steps[$index] !== '' && tabvalue.element_values[0].Steps[$index]" ng-show="!!tabvalue.element_values[0].Steps.length && tabvalue.element_values[0].Steps[$index]" uib-tooltip="{{tabvalue.element_values[0].Steps[$index]}}"></span>
                                                <span id = "tooltip12" class="glyphicon glyphicon-info-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Tooltip[$index] !== '' && tabvalue.element_values[0].Tooltip[$index]" ng-show="!!tabvalue.element_values[0].Tooltip.length && tabvalue.element_values[0].Tooltip[$index]" uib-tooltip="{{tabvalue.element_values[0].Tooltip[$index]}}"></span>
                                                <span id = "tooltip12" class="glyphicon glyphicon-blackboard" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].System[$index] !== '' && tabvalue.element_values[0].System[$index]" ng-show="!!tabvalue.element_values[0].System.length && tabvalue.element_values[0].System[$index]" uib-tooltip="{{tabvalue.element_values[0].System[$index]}}"></span>
                                                <span id = "tooltip12" class="glyphicon glyphicon-copyright-mark" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Checks[$index] !== '' && tabvalue.element_values[0].Checks[$index]" ng-show="!!tabvalue.element_values[0].Checks.length && tabvalue.element_values[0].Checks[$index]" uib-tooltip="{{tabvalue.element_values[0].Checks[$index]}}"></span>
                                            </p>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div> -->
                            <div ng-if="processtext.key">
                                <br>
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group class="panel-default"   data-index="{{0}}"    is-open="status.open">
                                        <uib-accordion-heading >
                                            <div >
                                                {{processtext.key}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="" >
                                            <p class="" >
                                                 <ng-bind-html ng-bind-html="trustedHtml(processtext.value);"> 
                                                    {{processtext.value}}
                                                 </ng-bind-html> 
                                                <!-- <span id = "tooltip12" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-container:"body" ng-if="tabvalue.element_values[$index].Tooltip[$index] !== ''" title="tabvalue.element_values[$index].Tooltip[$index]" data-original-title="Security Code">

                                                </span> -->
                                                <span id = "tooltip12" class="glyphicon glyphicon-plus-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Steps[$index] !== '' && tabvalue.element_values[0].Steps[$index]" ng-show="!!tabvalue.element_values[0].Steps.length && tabvalue.element_values[0].Steps[$index]" uib-tooltip="{{tabvalue.element_values[0].Steps[$index]}}"></span>
                                                <span id = "tooltip12" class="glyphicon glyphicon-info-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Tooltip[$index] !== '' && tabvalue.element_values[0].Tooltip[$index]" ng-show="!!tabvalue.element_values[0].Tooltip.length && tabvalue.element_values[0].Tooltip[$index]" uib-tooltip="{{tabvalue.element_values[0].Tooltip[$index]}}"></span>
                                                <span id = "tooltip12" class="glyphicon glyphicon-blackboard" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].System[$index] !== '' && tabvalue.element_values[0].System[$index]" ng-show="!!tabvalue.element_values[0].System.length && tabvalue.element_values[0].System[$index]" uib-tooltip="{{tabvalue.element_values[0].System[$index]}}"></span>
                                                <span id = "tooltip12" class="glyphicon glyphicon-copyright-mark" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Checks[$index] !== '' && tabvalue.element_values[0].Checks[$index]" ng-show="!!tabvalue.element_values[0].Checks.length && tabvalue.element_values[0].Checks[$index]" uib-tooltip="{{tabvalue.element_values[0].Checks[$index]}}"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- <div class="dthyperlink changedthbg stage{{tabvalue.element_values[$index].bgstage}}" ng-repeat="dthlink in tabvalue.element_values[$index].DT" data-id="{{dthlink}}" data-url-id="innerLink" data-stage="{{tabvalue.element_values[$index].Stage}}" data-bgstage="{{tabvalue.element_values[$index].bgstage}}" ng-if="tabvalue.element_values[$index].DT.length > 0 && tabvalue.element_values[$index].Stage!='0'" data-index="{{$index}}"  ng-click="getDthlinkRes(tabvalue.element_values[$index].Stage,dthlink);" >
                                        {{dthlink}}
                                    </div> -->
                                </uib-accordion>
                            </div>
                        </div> 
                        <!-- <uib-accordion close-others="true" class="accordiondt">
                            <div uib-accordion-group class="panel-default dthyperlink changedthbg stage{{tabvalue.element_values[0].bgstage}}"  ng-repeat="dthlink in tabvalue.element_values[0].DT track by $index" data-id="{{dthlink}}" data-url-id="innerLink" data-stage="{{tabvalue.element_values[0].Stage}}" data-bgstage="{{tabvalue.element_values[0].bgstage}}" ng-if="tabvalue.element_values[0].DT.length > 0 && tabvalue.element_values[0].Stage!='0'" data-index="{{0}}"    is-open="status.open">
                                <uib-accordion-heading >
                                    <div ng-click="getDthlinkRes2(tabvalue.element_values[0].Stage,dthlink);">
                                        {{dthlink}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </div>
                                </uib-accordion-heading>
                                <div class="{{dthlink}}{{tabvalue.element_values[0].bgstage}} accordion_content" ng-repeat="processtext in element_values2">
                                    <p class="" >
                                        <ng-bind-html ng-bind-html="processtext|newlines">
                                            {{processtext}}
                                        </ng-bind-html>
                                       
                                        <span id = "tooltip12" class="glyphicon glyphicon-plus-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Steps[$index] !== '' && tabvalue.element_values[0].Steps[$index]" ng-show="!!tabvalue.element_values[0].Steps.length && tabvalue.element_values[0].Steps[$index]" uib-tooltip="{{tabvalue.element_values[0].Steps[$index]}}"></span>
                                        <span id = "tooltip12" class="glyphicon glyphicon-info-sign" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Tooltip[$index] !== '' && tabvalue.element_values[0].Tooltip[$index]" ng-show="!!tabvalue.element_values[0].Tooltip.length && tabvalue.element_values[0].Tooltip[$index]" uib-tooltip="{{tabvalue.element_values[0].Tooltip[$index]}}"></span>
                                        <span id = "tooltip12" class="glyphicon glyphicon-blackboard" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].System[$index] !== '' && tabvalue.element_values[0].System[$index]" ng-show="!!tabvalue.element_values[0].System.length && tabvalue.element_values[0].System[$index]" uib-tooltip="{{tabvalue.element_values[0].System[$index]}}"></span>
                                        <span id = "tooltip12" class="glyphicon glyphicon-copyright-mark" href="#" tooltip-placement="bottom" ng-if="tabvalue.element_values[0].Checks[$index] !== '' && tabvalue.element_values[0].Checks[$index]" ng-show="!!tabvalue.element_values[0].Checks.length && tabvalue.element_values[0].Checks[$index]" uib-tooltip="{{tabvalue.element_values[0].Checks[$index]}}"></span>
                                    </p>
                                </div>
                            </div>
                        </uib-accordion> -->
                        

                        
                    </div>
					<div class ="tab-con"  ng-if="row==='Guidelines'">
						<div class="" ng-repeat="processtext in tabvalue.element_values[$index] track by $index">
							<h1>{{processtext.Title}}</h1>
							<ng-bind-html ng-bind-html="trustedHtml(processtext.Text);" ng-if="processtext.Text !== ''">
								{{processtext.Text}}
							</ng-bind-html>
						</div>
					</div>
					<div class ="tab-con"  ng-if="row==='Exception Scenarios'">
                        <!-- <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Notes</label>
                                <select  class="notes" ng-change="getnotedata(s.notes,tabvalue.element_values[1].Table);" ng-model="s.notes">
                                    <option value="" selected>Please Select</option>
                                    <option ng-repeat="x in tabvalue.element_values[1].Quik_Tip" value="{{x.col}}" ng-init="s.notes=x.col">{{x.val}}</option>
                                </select>
                            </div>
                        </form>
                        <div  ng-if="notedata.length > 0">
                            <p ng-repeat = "notev in notedata">
                                <ng-bind-html ng-bind-html="notev">
                                    {{notev}}
                                </ng-bind-html>
                            </p>
                        </div> -->
                        <br>
                        <!-- <uib-accordion close-others="true" class="accordiondt">
                            <div uib-accordion-group class="panel-default"  ng-repeat="x in tabvalue.element_values[1].Quik_Tip"      is-open="status.open">
                                <uib-accordion-heading >
                                    <div ng-click="getnotedata(x,tabvalue.element_values[1].Table);">
                                        {{x.val}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </div>
                                </uib-accordion-heading>
                                <div >
                                    <p ng-repeat = "notev in notedata">
                                        <ng-bind-html ng-bind-html="notev">
                                            {{notev}}
                                        </ng-bind-html>
                                    </p>
                                </div>
                            </div>
                        </uib-accordion> -->
                        <div >
                            <p ng-repeat = "notev in notedata">
                                <ng-bind-html ng-bind-html="notev">
                                    {{notev}}
                                </ng-bind-html>
                            </p>
                        </div>
                    </div> 
                    <!-- <div class ="tab-con"  ng-if="row==='Address Change'">
                        <p ng-repeat = "add_c in tabvalue.element_values[0].Address_Change">
                            <ng-bind-html ng-bind-html="add_c">
                                {{add_c}}
                            </ng-bind-html>
                        </p>
                    </div>
                    <div class ="tab-con"  ng-if="row==='Dormant Activation'">
                        <p ng-repeat = "d_a in tabvalue.element_values[0].Dormant_Activation">
                            <ng-bind-html ng-bind-html="d_a">
                                {{d_a}}
                            </ng-bind-html>
                        </p>
                    </div> -->
                    <div ng-if="!(tabvalue.element_values[1].Quik_Tip && $index == 1)">
                        <div class ="tab-con"  ng-if="(row !== 'Process' && row !== 'Exception Scenarios' && row !== 'Guidelines')">
                            <p class="" > 
                                <ng-bind-html ng-bind-html="tabvalue.element_values[$index]">
                                    {{tabvalue.element_values[$index]}}
                                </ng-bind-html>
                            </p>
                        </div> 
                    </div>
                </uib-tab>
            </uib-tabset>
            
            <!-- Nav tabs -->
            <!--
            <ul class="nav nav-tabs" role="tablist" id="tab_data">
                <li role="presentation" ng-repeat="row in tabvalue">
                    
                </li>
            </ul>-->
            <!-- Tab panes -->
            <!--<div class="tab-content" id="tab-content"></div>-->
        </div>
    </div>
    
</div>


<!-- <div class="col-lg-4">
    <div class="col-md-12">
        <div class="inputs">
            <ul class="nav nav-tabs" role="tablist" id="myTabs">
                <li role="presentation" class="active col-md-6"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">CRN No.</a></li>
                <li role="presentation"  class="col-md-6"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">SR No.</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="form-inline input-group-sm">
                        <input type="text" class="form-control" placeholder="CRN no" ng-model="crnno" name="crn" required>
                        <button id="crnsr1" type="submit" class="btn btn-primary btn-sm" ng-click="crnSubmit(crnno);">Query</button>
                        <button id="" type="submit" class="btn btn-primary btn-sm">Tag with CRN</button>
                    </div>
                    <div class="crn">
                        <p id="crn_details"></p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="form-inline input-group-sm">
                        <input type="text" class="form-control" placeholder="SR no" name="sr" ng-model="srno">
                        <button id="crnsr" type="submit" class="btn btn-primary btn-sm" ng-click="srnSubmit(srno,crnno);">Query</button>
                        <button id="" type="submit" class="btn btn-primary btn-sm srbtn" >Create SR</button>
                    </div>
                    <div class="crn">
                        <p id="sr_details"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->