<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change Password</h3>
    <button type="button" class="close"  aria-hidden="true" ng-click="changePwdcancel();">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    <form id="changepassword_form" name="changepassword_form">
        <div class="form-group">
            <div class="pull-left" ng-if="changepasswordSuccess==1">
                <span class="label label-success" >Password Changed Successfully.</span>
            </div>
            <input class="form-control currentpassword" id="currentpassword" type="password" name="currentpassword" placeholder="Current Password" ng-model="user.currentpassword" required>
            <div class="pull-right" ng-repeat="(field,value) in changepassword_form.currentpassword.$error" ng-show="changepassword_form.currentpassword.$touched">
                <span class="label label-danger" ng-if="field=='required' && value">Please Enter Valid Current Password</span>
            </div>
            <input class="form-control newpassword" type="password" name="newpassword" id="newpassword" placeholder="New Password" ng-model="user.newpassword" required>
            <div class="pull-right" ng-repeat="(field,value) in changepassword_form.newpassword.$error" ng-show="changepassword_form.newpassword.$touched">
                <span class="label label-danger" ng-if="field=='required' && value">Please Enter New Password</span>
            </div>
            <input class="form-control newpassword2" type="password" name="newpassword2" id="newpassword2" placeholder="Confirm Password" ng-model="user.newpassword2" required valid-password-c="user.newpassword">
            <div class="pull-right" ng-repeat="(field,value) in changepassword_form.newpassword2.$error" ng-show="changepassword_form.newpassword2.$touched">
                <span class="label label-danger" ng-if="(field=='required' && value) ">Please Enter confirmation Password</span>
            </div>
            <div class="pull-right" ng-show="changepassword_form.newpassword2.$error.noMatch" >
                <span class="label label-danger">New Password does not match with confirmation password</span>
            </div>
            
            <div class="pull-right"  ng-if="passworderror==-1">
                <span class="label label-danger">Please Enter Valid Password</span>
            </div>
            
            <input class="form-control" id='changePwd' type="submit" name="changePwd" ng-disabled="changepassword_form.$invalid"  class="btn btn-primary btn-lg btn-block" value="Change" ng-click="changepassword(user.currentpassword,user.newpassword,user.newpassword2);">
        </div>
    </form>
</div>
<div class="modal-footer hidden">
    <button class="btn btn-primary" type="button" ng-click="">OK</button>
    <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
</div>