<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Feedback</h3>
    <button type="button" class="close"  aria-hidden="true" ng-click="dislikeCancel();">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    <form id="dislikesuggestion_form" name="dislikesuggestion_form">
        <div class="form-group">
            <div class="pull-left" ng-if="dislikesuggestionSuccess==1">
                <span class="label label-success" >Thank You.</span>
            </div>
            <textarea class="form-control dislikesuggestion" id="dislikesuggestion"  name="dislikesuggestion" placeholder="Enter Suggestion" ng-model="user.dislikesuggestion" required></textarea>
            <div class="pull-right" ng-repeat="(field,value) in dislikesuggestion_form.dislikesuggestion.$error" ng-show="dislikesuggestion_form.dislikesuggestion.$touched">
                <span class="label label-danger" ng-if="value">Please Enter Suggestion</span>
            </div>
            
            
            <div class="pull-right"  ng-if="dislikesuggestionerror==-1">
                <span class="label label-danger">Please Enter Suggestion</span>
            </div>
            
            <input class="form-control" id='dislikesuggestionsubmit' type="submit" name="dislikesuggestionsubmit" ng-disabled="dislikesuggestion_form.$invalid"  class="btn btn-primary btn-lg btn-block" value="Submit" ng-click="dislikesuggestionsubmit(user.dislikesuggestion);">
        </div>
    </form>
</div>
<div class="modal-footer hidden">
    <button class="btn btn-primary" type="button" ng-click="">OK</button>
    <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
</div>