<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Reset Password</h3>
    <button type="button" class="close"  aria-hidden="true" ng-click="changePwdcancel();">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    <form id="forgotpassword_form" name="forgotpassword_form">
        <div class="form-group">
            <div class="pull-left" ng-if="forgotpasswordSuccess==1">
                <span class="label label-success" >Reset Password Link Mailed Successfully.</span>
            </div>
            <input class="form-control email" id="email" type="email" name="email" placeholder="Email" ng-model="user.email" required>
            <div class="pull-right" ng-repeat="(field,value) in forgotpassword_form.email.$error" ng-show="forgotpassword_form.email.$touched">
                <span class="label label-danger" ng-if="field=='email' && value">Please Enter Valid Email</span>
            </div>
            
            
            <div class="pull-right"  ng-if="forgotpassworderror==-1">
                <span class="label label-danger">Please Enter Valid Email</span>
            </div>
            
            <input class="form-control" id='forgotPwd' type="submit" name="forgotPwd" ng-disabled="forgotpassword_form.$invalid"  class="btn btn-primary btn-lg btn-block" value="Change" ng-click="forgotpasswordreq(user.email);">
        </div>
    </form>
</div>
<div class="modal-footer hidden">
    <button class="btn btn-primary" type="button" ng-click="">OK</button>
    <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
</div>