<div class="modal-header">
    <h3 class="modal-title" id="modal-title">My dashboard</h3>
    <button type="button" class="close"  aria-hidden="true" ng-click="Mydashboardcancel();">&times;</button>
</div>
<div class="modal-body profilemodal" id="modal-body">
    <div class="row finaldashboard dashboard ">
    <div class="">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="icon-bar-chart"></i>
                </div>
                <div class="card-content">
                    <p class="category">Total Conversations</p>
                    <h3 class="title ccount"></h3>
                </div>
                <!-- <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Github
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="icon-comments"></i>
                </div>
                <div class="card-content">
                    <p class="category">Total Interactions &nbsp; &nbsp; &nbsp; &nbsp;</p>
                    <h3 class="title icount">
                        <small></small>
                    </h3>
                </div>
                <!-- <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="#pablo">Get More Space...</a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="icon-tags"></i>
                </div>
                <div class="card-content">
                    <p class="category">No. of topics discussed</p>
                    <h3 class="title tcount"></h3>
                </div>
                <!-- <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                </div> -->
            </div>
        </div>
        
        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="icon-dashboard"></i>
                </div>
                <div class="card-content">
                    <p class="category">Dummy Tile &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</p>
                    <h3 class="title">5</h3>
                </div>
            </div>
        </div> -->
    </div>
    </div>
</div>
<div class="modal-footer hidden">
    <button class="btn btn-primary" type="button" ng-click="">OK</button>
    <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
</div>