// body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
// table { border-collapse:collapse; border-spacing:0; }
// fieldset,img { border:0; }
// address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
// caption,th { text-align:left; }
// h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

// body { background: #fff; }
/* optional Container STYLES */
.chart { height: 600px; margin: 5px; width: 900px; }
.Treant > .node { padding: 3px; border: 1px solid #484848; border-radius: 3px; }
.Treant > .node img { width: 100%; height: 100%; }

.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.collapsed { background-color: #DEF82D; }
.Treant .node.collapsed .collapse-switch { background: none; }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}

.nodeExample1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 200px;
    font-family: Tahoma;
    font-size: 12px;
}

.nodeExample1 img {
    margin-right:  10px;
}
.node-data-parent, .node-data-information, .node-data-checks, .node-data-system, .node-data-script, .node-data-text {
    display:none;
}
.Treant {
    width:100%;
    min-height:400px;
}
p.node-name {
    text-align: center;
    background: #003874;
    color: #fff;
    margin-bottom: 0px;
}
p.node-title {
    padding: 8px 0;
}
.Treant > .node {
    padding: 0px;
    border: 1px solid #003874;
}
.orgchart .node .title
{
    padding: 0px 6px;
}
.orgchart .node .title, .orgchart .lines .downLine {
    background-color: #003874 !important;
}
.orgchart .node .content {
    border:1px solid #003874 !important; 
}
.orgchart .lines .rightLine {
    border-right: 1px solid #003874 !important;
}
.orgchart .lines .leftLine {
    border-left: 1px solid #003874 !important;
}
.orgchart .lines .topLine {
    border-top:1px solid #003874 !important;
}
.orgchart .node {
    width:auto !important;
}
.orgchart {
    background-image: none !important;
}
.orgchart .node .title i {
    display: none !important;
}