*, :before, :after { box-sizing: border-box; }

html{ margin-top: 1px; height: 100%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; color: #333;
    padding-top:0px !important; }

.hide { display: none; }
.clear { clear: both; }
.login{
    margin-top: 30%;
}
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 2px;
  padding: 5px 5px;
  width: 45px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.5s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 21px;
  left:6px;
  right: 6px;
  height: 4px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--rot {
  background-color: #003874;
  /*transition: -webkit-transform 3s ease;*/
}
.mini-submenu {
    display: block;
    /* background-color: transparent; */
    /* border: 1px solid rgba(0, 0, 0, 0.9); */
    /* border-radius: 4px; */
    /* padding: 9px; */
    cursor: pointer;
    /* position: relative; */
    /* width: 42px; */
    /* float: left; */
    margin-right: 10px;
    /* margin-top: 7px; */
}
.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}
.login-container{
    background: #fff;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 10px;
}
#login_form .form-control{
    margin-top: 10px;
}
.loginbg {
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.srbtn {
    width: 96.67px;
}
.mainheader
{
     margin-bottom:0 !important;
}
.chat-container { width:  380px; height: 350px; position: fixed; border: 1px solid red; bottom: 0; right: 20px; }
.chat-container iframe { width: 100%; height: 100%; border: none; }

.chat-box img { max-width: 80%; margin: 10px; border: 2px solid #88aaee; }


.overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.6); }
.data-box { min-width: 100px; min-height: 100px; padding: 30px; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; }
.data-box img { max-width: 100%; }
.close { position: absolute; right: 0px; top: 0px; padding: 5px; background: #000; color: #fff; cursor: pointer; font-size: 24px; line-height: .5; }


/* Auto suggested options in chat input */
.char-input { border: 1px solid #ddd; position: fixed; left: 0px; right: 0px; bottom: 0px; border-top: 1px solid #ddd; }
.char-input input[type='text'] { width: 100%; float: left; padding: 10px;  border: none; outline: none; }

.ui-autocomplete-loading { background: white url("../images/ui-loading.gif") 98% center no-repeat; }
#suggestionList .ui-widget.ui-widget-content { position: absolute; bottom: 69px; top: auto !important;margin: 0 2px; }

.typing-text { font-size:11px; color:#333; visibility: hidden; margin-bottom: 5px; }

.overlay{
	z-index: 9999 !important;
}
.modal-content{
	margin-top: 150px;
}

.modal.and.carousel {
  position: fixed; 
} 
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

div.img-box { height: 100px; background: #ccc; display: table-cell; vertical-align: middle; }
	.thumbsup,.thumbsdown{
		font-size: 1.3em;
	}
    .tree{
        display: none;
    }
    .glyphicon-ok{
    	display: none;
    	float:right;
    }
    #myTabs{
        
        /* right: 100px; */
        // position: absolute;
        // top: 8px;
        // margin-right: 15px;
        // width: 100%;
        // margin-left: -35px;
    }
    #myTabs li {
        display: inline;
        background: #777;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
    }
    #myTabs .active{
        background: #555;
    }
    #myTabs li a{
        padding: 2px 0px;
        color: #eee;
        margin: 0 10px;
        text-decoration: none;
        display: block;
        background-color: transparent;
        border:0px;
    }
    .tab-content{
/*
        background: #fafafa;
        border-radius: 4px;
*/
        min-height: 120px;
    }
    .inputs{
        background: #d9edf7;
        padding: 30px 10px 10px;
        border-radius: 12px;
        margin-top: 5px;
        min-height: 130px;
        margin-right: -15px;
    }
    .nav-list {
          padding-right: 15px;
          padding-left: 15px;
/*          margin-bottom: 25px;*/
      }
      .toggler{
        width: 100%;
        color: #777;
        cursor: pointer;
      }
    .toggler .glyphicon {
        font-size: 0.8em;
        padding-right: 10px;
    }

    .nav-pills>li.active>a, .btn-primary{
        background-color: #003874;
        border-color: #003874;
    }
body{
/*    overflow: hidden;*/
}
.navbar-brand img {
    height: 35px !important;
    margin-top: -8px !important;
}
    .subnav li a{
        padding: 5px 10px;;
    }
.panel-body {
    height: 315px;
}

.inputs .form-control{
    width: 55%;
    display: inline;
}
.inputs h4{
    margin-bottom: 0;
    font-size: 0.9em;
    font-weight: bold;
}
.crn{
    background: #fafafa;
    padding: 0 15px;
    border-radius: 12px;
    margin-top: 0;
}
.number_disp{
    min-height: 100px;
}
.inputs .form-control{
    margin: 10px auto;
}
.tooltips {
    background: #d9edf7;
    width: 100%;
    color: #31708f;
    padding: 15px;
    border: 1px solid #bce8f1;
    height: 100%;
    margin-top: 10px;
    border-radius: 10px;
    min-height: 100px;
    }
/*.tooltips:after {
    border-top: solid transparent 20px;
    border-bottom: solid transparent 0px;
    border-right: solid #bce8f1 20px;
    left: 10px;
    content: " ";
    height: 0;
    top: 20px;
    margin-left: -13px;
    position: absolute;
    width: 0;
}*/
.topic_col{
    border-right:2px solid #ddd;
    width:100%;
    
    padding: 10px 10px 60px;
    overflow: auto;
    /*height:100vh;*/
    /*margin-bottom: 50%;*/
}
#chatImage{
    z-index: 1;
    position: fixed;
    bottom: 25px;
    right: 72px;
}
#chat_panel{
    margin-bottom: 0;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 12px;
    margin-left: -12px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline-badge {
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 19px;
    margin-left: -25px;
    background-color: #ced6db;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
#sub_topic_list li a{
    padding-left: 20px;
}
.agent_img{
    height: 100px;
    margin-top: 8px;
    margin-right: 20px;
}
.modal-header .close {
    margin-top: 25px !important;
    right: 18px !important;
    color: #000;
    opacity: 0.5;
}
#changepassword_form .form-group input {
    margin-bottom:10px !important;
}
@media screen and (max-width: 1200px) {
    .content {
        min-height:0px;

        .tab-content {
            min-height:0px;
        }
    }
    .clickImage {
        height:135px !important;
    }
    #chat_window_1 
    {
        width:50% !important;
        .panel-body {
            height:260px !important;
        }
    }
}
@media screen and (max-width: 800px) {
    .clickImage {
        height:80px !important;
    }
}
@media only screen and (max-width: 414px) {
    #chat_window_1 
    {
        width:90% !important;
    }
}
@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    #chat_window_1 
    {
        width:90% !important;
    }
}
@media only screen and (device-width:768px){
    /* default iPad screens */
    #chat_window_1 
    {
        width:60% !important;
        .panel-body {
            height:420px !important;
        }
    }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    #chat_window_1 
    {
        width:60% !important;
        .panel-body {
            height:420px !important;
        }
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    #chat_window_1 
    {
        width:60% !important;
        .panel-body {
            height:420px !important;
        }
    }
}