<!--<header hide-on-scrol>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home"><img src="/img/logo.png" alt="logo" width="20"> </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>
        </div>
    </nav>
</header>-->
<div class="wrapper" ng-if="uipage!='login' && uipage!='forgotpassword' "> <!-- Wrapper Start-->
    <header hide-on-scrol>
    
        <nav class="navbar navbar-default mainheader">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-click="checkCollapsed();" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                     <!-- <button class="mini-submenu hidden-xs">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="img/kotak_logo.png" class="img-responsive"></a> -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <!-- <button id="nav-icon1" class="c-hamburger c-hamburger--rot mini-submenu hidden-xs">
                            <span>toggle menu</span>
                            </button> -->
                            <button id="nav-icon1" class="c-hamburger c-hamburger--rot mini-submenu hidden-xs open">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </li>
                        <li>
                            <a class="navbar-brand" href="#">
                                 <img src="img/kotak-logo.png" class="img-responsive"> 
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-list visible-xs hidden-sm hidden-md"  ng-if="uipage!='agentdashboard'">
                        <li><a href="#section2" class="toggler" id="Account Closing"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Account Closing</a>
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Retention Efforts" id="Account Closing Retention Efforts"> Retention Efforts<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Account Closing General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Trinity Account Closure" id="Account Closing Trinity Account Closure"> Trinity Account Closure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Attrition Control within 6 months" id="Account Closing Attrition Control within 6 months"> Attrition Control within 6 months<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Closure Request Channel" id="Account Closing Closure Request Channel"> Closure Request Channel<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Customer Attrition Control" id="Account Closing Customer Attrition Control"> Customer Attrition Control<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                
                
                        <li><a href="#section2" class="toggler" id="Debit Card"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Debit Card</a>
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="New Debit Card Procedure" id="Debit Card New Debit Card Procedure"> New Debit Card Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Block/Unblock Debit Card" id="Debit Card Block/Unblock Debit Card"> Block/Unblock Debit Card<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Debit Card General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Debit Card Surrender" id="Debit Card Debit Card Surrender"> Debit Card Surrender<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Debit Card Operations" id="Debit Card Debit Card Operations"> Debit Card Operations<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                    
                        
                        <li><a href="#section2" class="toggler" id="Fixed Deposits"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Fixed Deposits</a>

                            <ul class="nav nav-list tree v2">
                                    <li><a href="#section1" class="toggler section_last" data-value="Fixed Deposit Request Channel" id="Fixed Deposits Fixed Deposit Request Channel"> Fixed Deposit Request Channel<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Fixed Deposits General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                
                    
                        <li><a href="#section2" class="toggler" id="Locker"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Locker</a>

                            <ul class="nav nav-list tree v2">
                                <li><a href="#section2" class="toggler" id="Locker Locker Opening"><span class="glyphicon triangle glyphicon-triangle-bottom" aria-hidden="true"></span>Locker Opening</a>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Operating KLASS" id="Locker Locker Opening Operating KLASS">Operating KLASS<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                        
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Provisional Locker Opening" id="Locker Locker Opening Provisional Locker Opening">Provisional Locker Opening<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                        
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Standard Procedure" id="Locker Locker Opening Standard Procedure">Standard Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                            
                                <li><a href="#section2" class="toggler" id="Locker Locker Surrender"><span class="glyphicon triangle glyphicon-triangle-bottom" aria-hidden="true"></span>Locker Surrender</a>
                                    <ul class="nav nav-list tree">
                                            <li><a href="#section" class="toggler section_last" data-value="Lever Change" id="Locker Locker Surrender Lever Change">Lever Change<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                        
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Interchanging Surrendered Locker" id="Locker Locker Surrender Interchanging Surrendered Locker">Interchanging Surrendered Locker<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                        
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Standard Procedure" id="Locker Locker Surrender Standard Procedure">Standard Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section2" class="toggler" id="Locker Locker Operations"><span class="glyphicon triangle glyphicon-triangle-bottom" aria-hidden="true"></span>Locker Operations</a>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Locker Exchange" id="Locker Locker Operations Locker Exchange">Locker Exchange<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                        
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Locker Maintenance" id="Locker Locker Operations Locker Maintenance">Locker Maintenance<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                        
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Locker Key Handling" id="Locker Locker Operations Locker Key Handling">Locker Key Handling<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                        
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Locker Rent" id="Locker Locker Operations Locker Rent">Locker Rent<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                        
                                    <ul class="nav nav-list tree">
                                        <li><a href="#section" class="toggler section_last" data-value="Operation and Access" id="Locker Locker Operations Operation and Access">Operation and Access<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                
                    
                        <li><a href="#section2" class="toggler" id="Foreign Currency Exchange"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Foreign Currency Exchange</a>
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Exceptions" id="Foreign Currency Exchange Exceptions"> Exceptions<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Foreign Currency Exchange General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                
                    
                        <li><a href="#section2" class="toggler" id="Services Locator"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Services Locator</a>
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Branch Locator" id="Services Locator Branch Locator"> Branch Locator<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="CDM Locator" id="Services Locator CDM Locator"> CDM Locator<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="ATM Locator" id="Services Locator ATM Locator"> ATM Locator<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                
                    
                        <li><a href="#section2" class="toggler" id="Credit Card"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Credit Card</a>
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Credit Card Surrender" id="Credit Card Credit Card Surrender"> Credit Card Surrender<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Credit Card General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Block/Unblock Credit Card" id="Credit Card Block/Unblock Credit Card"> Block/Unblock Credit Card<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Credit Card Operations" id="Credit Card Credit Card Operations"> Credit Card Operations<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="New Credit Card Procedure" id="Credit Card New Credit Card Procedure"> New Credit Card Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                
                    
                        <li><a href="#section2" class="toggler" id="Account Opening"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Account Opening</a>
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Account Opening General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Open Request Method" id="Account Opening Open Request Method"> Open Request Method<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Priviledge Account Opening Procedure" id="Account Opening Priviledge Account Opening Procedure"> Priviledge Account Opening Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                
                    
                        <li><a href="#section2" class="toggler" id="Loans"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Loans</a>
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Customer handling in case of rejection" id="Loans Customer handling in case of rejection"> Customer handling in case of rejection<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Loans General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Successful Loan Completion" id="Loans Successful Loan Completion"> Successful Loan Completion<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Loan Approval Procedure" id="Loans Loan Approval Procedure"> Loan Approval Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                
                    
                        <li><a href="#section2" class="toggler" id="Investments"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Investments</a>
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Investments General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Investment Request Channel" id="Investments Investment Request Channel"> Investment Request Channel<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree v2">
                                <li><a href="#section1" class="toggler section_last" data-value="Investment Redemption" id="Investments Investment Redemption"> Investment Redemption<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                
                    </ul>
                <ul class="nav navbar-nav navbar-right profilelist">
                    <li ng-if="uipage == 'dashboard'" class="chatlink">
                        <a ng-href="/" class=""><span class="glyphicon glyphicon-comment"></span> Chat</a>
                    </li>
                    <li ng-if="uipage == 'home'">
                        <div class="searchbar">
                            <input type="text" class="searchTerm" ng-change="findTopic(topicSearch);" placeholder="I am looking for..." ng-model="topicSearch">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    <li class="profileDetail" ng-controller="LoginDetCtrl"><a><small>Name: </small><span >{{fullname}}</span></a></li>
                    <li class="profileDetail" ng-controller="LoginDetCtrl"><a><small>Branch: </small><span >{{branch}} Branch</span></a></li>
                    <li class="" ng-if="uipage != 'dashboard'"><a class="btn btn-primary btn-sm headerbtns" href="/dashboard"><i class="icon-dashboard"></i> &nbsp; Dashboard</a></li>
                    <li><button id="logout" type="submit" class="btn btn-primary headerbtns" ng-controller="CommonCtrl" ng-click="logout();">Log Out</button></li>
                    <!-- <li><button id="changepwd" type="submit" class="btn btn-primary headerbtns" ng-controller="CommonCtrl" ng-click="openChangePwd();">Change Password</button></li> -->
                    
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div id="chatImage" ng-if="uipage!=='dashboard' && uipage!='agentdashboard'"  class="step1click"><img class="clickImage chatbotimg" id="clickImage" src="img/k.png" ng-controller="ChatCtrl" id="stepclick1" ng-click="showChatwindow();"></div>
        <div class="col-lg-3 list-group" ng-if="uipage!='agentdashboard'">
        <div class="topic_col hidden-xs" ng-style="{height: iframeHeight + 'px'}">
            <!-- <div class="searchbar">
                <input type="text" class="searchTerm" ng-change="findTopic(topicSearch);" placeholder="What are you looking for?" ng-model="topicSearch">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div> -->
                
                <p class="alltopiclink"><a href="#" ng-click="seeallTopic();">See all topics</a></p>
            <div>
                <h3 id="topic"></h3>
            </div>
            <ul class="nav nav-list " id="topiclist">
                <li><a href="#section2" class="toggler" id="Account Closing"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Account Closing</a>
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Retention Efforts" id="Account Closing Retention Efforts"> Retention Efforts<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Account Closing General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Trinity Account Closure" id="Account Closing Trinity Account Closure"> Trinity Account Closure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Attrition Control within 6 months" id="Account Closing Attrition Control within 6 months"> Attrition Control within 6 months<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Closure Request Channel" id="Account Closing Closure Request Channel"> Closure Request Channel<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Customer Attrition Control" id="Account Closing Customer Attrition Control"> Customer Attrition Control<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
        
        
                <li><a href="#section2" class="toggler" id="Debit Card"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Debit Card</a>
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="New Debit Card Procedure" id="Debit Card New Debit Card Procedure"> New Debit Card Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Block/Unblock Debit Card" id="Debit Card Block/Unblock Debit Card"> Block/Unblock Debit Card<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Debit Card General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Debit Card Surrender" id="Debit Card Debit Card Surrender"> Debit Card Surrender<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Debit Card Operations" id="Debit Card Debit Card Operations"> Debit Card Operations<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
            
                
                <li><a href="#section2" class="toggler" id="Fixed Deposits"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Fixed Deposits</a>

                    <ul class="nav nav-list tree v2">
                            <li><a href="#section1" class="toggler section_last" data-value="Fixed Deposit Request Channel" id="Fixed Deposits Fixed Deposit Request Channel"> Fixed Deposit Request Channel<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Fixed Deposits General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
        
            
                <li><a href="#section2" class="toggler" id="Locker"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Locker</a>

                     <ul class="nav nav-list tree v2">
                        <li><a href="#section2" class="toggler" id="Locker Locker Opening"><span class="glyphicon triangle glyphicon-triangle-bottom" aria-hidden="true"></span>Locker Opening</a>
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Operating KLASS" id="Locker Locker Opening Operating KLASS">Operating KLASS<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Provisional Locker Opening" id="Locker Locker Opening Provisional Locker Opening">Provisional Locker Opening<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Standard Procedure" id="Locker Locker Opening Standard Procedure">Standard Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                    
                        <li><a href="#section2" class="toggler" id="Locker Locker Surrender"><span class="glyphicon triangle glyphicon-triangle-bottom" aria-hidden="true"></span>Locker Surrender</a>
                            <ul class="nav nav-list tree">
                                    <li><a href="#section" class="toggler section_last" data-value="Lever Change" id="Locker Locker Surrender Lever Change">Lever Change<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Interchanging Surrendered Locker" id="Locker Locker Surrender Interchanging Surrendered Locker">Interchanging Surrendered Locker<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Standard Procedure" id="Locker Locker Surrender Standard Procedure">Standard Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section2" class="toggler" id="Locker Locker Operations"><span class="glyphicon triangle glyphicon-triangle-bottom" aria-hidden="true"></span>Locker Operations</a>
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Locker Exchange" id="Locker Locker Operations Locker Exchange">Locker Exchange<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Locker Maintenance" id="Locker Locker Operations Locker Maintenance">Locker Maintenance<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Locker Key Handling" id="Locker Locker Operations Locker Key Handling">Locker Key Handling<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Locker Rent" id="Locker Locker Operations Locker Rent">Locker Rent<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                                
                            <ul class="nav nav-list tree">
                                <li><a href="#section" class="toggler section_last" data-value="Operation and Access" id="Locker Locker Operations Operation and Access">Operation and Access<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
        
            
                <li><a href="#section2" class="toggler" id="Foreign Currency Exchange"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Foreign Currency Exchange</a>
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Exceptions" id="Foreign Currency Exchange Exceptions"> Exceptions<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Foreign Currency Exchange General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
        
            
                <li><a href="#section2" class="toggler" id="Services Locator"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Services Locator</a>
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Branch Locator" id="Services Locator Branch Locator"> Branch Locator<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="CDM Locator" id="Services Locator CDM Locator"> CDM Locator<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="ATM Locator" id="Services Locator ATM Locator"> ATM Locator<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
        
            
                <li><a href="#section2" class="toggler" id="Credit Card"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Credit Card</a>
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Credit Card Surrender" id="Credit Card Credit Card Surrender"> Credit Card Surrender<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Credit Card General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Block/Unblock Credit Card" id="Credit Card Block/Unblock Credit Card"> Block/Unblock Credit Card<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Credit Card Operations" id="Credit Card Credit Card Operations"> Credit Card Operations<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="New Credit Card Procedure" id="Credit Card New Credit Card Procedure"> New Credit Card Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
        
            
                <li><a href="#section2" class="toggler" id="Account Opening"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Account Opening</a>
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Account Opening General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Open Request Method" id="Account Opening Open Request Method"> Open Request Method<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Priviledge Account Opening Procedure" id="Account Opening Priviledge Account Opening Procedure"> Priviledge Account Opening Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
        
            
                <li><a href="#section2" class="toggler" id="Loans"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Loans</a>
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Customer handling in case of rejection" id="Loans Customer handling in case of rejection"> Customer handling in case of rejection<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Loans General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Successful Loan Completion" id="Loans Successful Loan Completion"> Successful Loan Completion<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Loan Approval Procedure" id="Loans Loan Approval Procedure"> Loan Approval Procedure<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
        
            
                <li><a href="#section2" class="toggler" id="Investments"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Investments</a>
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="General Guidelines" id="Investments General Guidelines"> General Guidelines<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Investment Request Channel" id="Investments Investment Request Channel"> Investment Request Channel<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                        
                    <ul class="nav nav-list tree v2">
                        <li><a href="#section1" class="toggler section_last" data-value="Investment Redemption" id="Investments Investment Redemption"> Investment Redemption<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
        
            </ul>
        </div>
    </header>
    